* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    margin-top: 15rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    gap: 5rem;
    background: url("./img/background.webp");
    background-size: cover;
  }
  
  form {
    padding: 3rem 1rem;
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    backdrop-filter: blur(5px);
    display: flex;
    gap: 2rem;
    flex-direction: column;
    align-items: center;
    width: 80vw;
  }
  
  form label {
    display: flex;
    width: 100%;
    font-size: 2rem;
    justify-content: space-around;
  }
  
  form input {
    padding: 0.3rem;
  }
  
  form button {
    background-color: #7825ff;
    width: 60%;
  }
  
  button {
    cursor: pointer;
    border: none;
    background-color: #256779;
    color: white;
    padding: 1rem 2rem;
    transition: filter 250ms ease-in-out;
  }
  
  button:hover {
    filter: brightness(1.3);
  }